<% provide(:title, "About") %>
<h1>Job Organizer</h1>
<p>
  So for some time now I have been searching for a great place to work at. At a certain point I stopped coding all together just to focus on finding a proper job. Then when I realized I was just clicking away and had no idea what I had applied for. The next couple of weeks I was so disorganized and caught off guard when companies I never heard of called to offer me a job. Then going into my interviews I felt unprepared or unmotivated to ask questions because they were either places I wasn't really interested or work I had no desire to work on. So finally I decided to help ME out with this web application I could build and tailor to MY needs. You can use it too.
</p>
