<% provide(:title, "Help") %>
<div class="jumbotron">
	<h1>Helpful Motivation</h1>
	<h3>
	  Everything comes to those who hustle while they wait. - <strong>Thomas Edison</strong>
	</h3>
	<h3>
		Energy and persistence conquer all things. - <strong>Benjamin Franklin</strong>
	</h3>
	<h3>
		Life is like riding a bicycle. To keep your balance, you must keep moving. - <strong>Albert Einstein</strong>
	</h3>
	<h3>
		What we spend our time on is probably the most important decision we make. - <strong>Ray Kurzweil</strong>
	</h3>
	<h3>
		Before anything else, preparation is the key to success. - <strong>Alexander Graham Bell</strong>
	</h3>
	<h3>
		The real secret of success is enthusiasm. - <strong>Walter Chrysler</strong>
	</h3>
	<h3>
		Proper preparation prevents poor performance. - <strong>5p's</strong>
	</h3>
	<h3>
		We are what we repeatedly do. Excellence, then, is not an act, but a habit. - <strong>Random</strong>
	</h3>
	<h3>
		Dream as if you'll live forever. Live like you'll die tomorrow. - <strong>James Dean</strong>
	</h3>
	<h3>
		Find a way, because that's what winners do. - <strong>Big Z</strong>
	</h3>
</div>