<% provide(:title, "Home") %> 
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="jobsearch_form">
        <%= render 'shared/jobsearch_form' %>
      </section>
    </aside>
  	<div class="col-md-8">
	  	<h3>In progress</h3>
	  	<%= render 'shared/feed' %>
 		</div>
 	</div>
<% else %>
<div class="center jumbotron">
	<h1>Job Organizer</h1>
	<p>
	  Don't rush your job search, do it right. Spend the little extra time organizing one search at a time. Leave yourself notes associated with applications, resumes, and even interviews. Make sure to really checkout their sites and your interviewers. Coming soon! Follow up sms service. Tie in your searches from other job boards. Got the job? Keep all your info in one spot for your next great adventure.
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>

